.nav {
  background: $sienna;
  height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 9999;

  > div {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav-brand {
  display: flex;
  align-items: center;
  color: $rose;
  font-size: toRem(32px);
  font-weight: 700;
}

.nav-cta {
  display: flex;
  align-items: center;
  column-gap: 24px;

  .nav-search {
    display: none;
    align-items: center;
    border: 1px solid #cbd8d2;
    background-color: #fff;
    outline: 0;
    padding: 6px;
    border-radius: 12px;

    @include breakpoint(sm) {
      display: flex;
    }

    input:focus {
      outline: 0;
    }

    svg {
      margin-right: 8px;
    }
  }

  .nav-cart {
    display: flex;
    align-items: center;
    column-gap: 6px;
    cursor: pointer;

    .cart-icon {
      position: relative;

      .badge {
        background: red;
        color: #fff;
        border-radius: 9999px;
        position: absolute;
        height: 20px;
        width: 20px;
        top: -9px;
        right: -9px;
      }
    }
  }
}

.nav-bg__change {
  background: #fff;
  border: 1px solid #e8e8e8;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
