.nav {
  background: $sienna;
  height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 9999;

  > div {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav-brand {
  display: flex;
  align-items: center;
  color: $rose;
  font-size: toRem(32px);
  font-weight: 700;
}

.nav-cta {
  display: flex;
  align-items: center;
  column-gap: 24px;

  .nav-search {
    display: none;
    align-items: center;
    border: 1px solid #cbd8d2;
    background-color: #fff;
    outline: 0;
    padding: 6px;
    border-radius: 12px;

    @include breakpoint(sm) {
      display: flex;
    }

    input:focus {
      outline: 0;
    }

    svg {
      margin-right: 8px;
    }
  }

  .nav-cart {
    display: flex;
    align-items: center;
    column-gap: 6px;
    cursor: pointer;

    .cart-icon {
      position: relative;

      .badge {
        background: red;
        color: #fff;
        border-radius: 9999px;
        position: absolute;
        height: 20px;
        width: 20px;
        top: -9px;
        right: -9px;
      }
    }
  }
}

.nav-bg__change {
  background: #fff;
  border: 1px solid #e8e8e8;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.cart-modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  inset: 0;

  .cart-modal__div {
    @include container;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .modal-content {
    background: #fff;
    inset: 0;
    position: absolute;
    overflow: auto !important;

    @include breakpoint(sm) {
      width: 350px;
      height: 500px;
      margin-top: 50px;
      margin-right: 50px;
      position: static;
      border-radius: 12px;
    }
  }
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;

  span {
    font-weight: 700;
    font-size: toRem(18px);
  }

  button {
    font-size: toRem(28px);

    &:hover {
      color: $rose;
    }
  }
}

.content-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  gap: 12px;

  .empty-cart {
    background: $sienna;
    padding: 12px;
    border-radius: 30px;
  }

  h4 {
    @include font-size($p-font-sizes);
    font-weight: 600;
  }

  p {
    @include font-size($p-font-sizes);
    text-align: center;
  }
}

.cart-items {
  margin-top: 72px;
  padding: 15px 20px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;

  .item-main {
    display: flex;
    gap: 18px;
    align-items: center;

    img {
      object-fit: cover;
      border-radius: 8px;
    }

    p {
      font-size: 0.875rem;
      font-weight: 600;
    }
  }

  .item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item-cta {
      display: flex;
      gap: 10px;
      align-items: center;

      > button {
        color: red;
        font-size: 0.9rem;
      }

      .item-btn {
        display: flex;
        align-items: center;
      }

      button:not(.item-cta > button) {
        background-color: #e8e8e8;
        font-size: 1rem;
        border-radius: 2px;
        padding: 2.5px;
      }
      .item-qty {
        border: 1px solid #e4e8e6;
        font-size: 0.75rem;
        padding: 0.7px 10px;
      }
    }
  }
}

.checkout {
  height: 154px;
  background: #e8e8e8;
  padding: 15px 20px;
}

.checkout-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;

  span {
    font-size: 0.875rem;
  }
}

.checkout-btn {
  width: 100%;
  background: #fa6133;
  max-width: 560px;
  text-align: center;
  padding: 15px 12px;
  border-radius: 4px;
  transition: background-color 0.4s ease-in-out;
  color: #fff;
  font-size: 1rem;
  width: 100%;

  &:hover {
    background-color: $rose;
  }
}
